a {
    text-decoration: none;
}

nav {
    display: flex;
    padding: 9px;
    transition: fadeIn1s;
    align-items: center;
}

button {
    border-radius: 7px;
    display: flex;
    padding: 4px 13px;
}


@keyframes fadeIn {
    from {
        opacity: 1;
    } to {
        opacity: 0;
    }
}