* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: url('/assets/cursors/default.cur'), auto;
}

a {
    text-decoration: none;
}

nav {
    display: flex;
    padding: 9px;
    transition: fadeIn 1s;
    align-items: center;
}

button {
    border-radius: 7px;
    display: flex;
    padding: 5px 20px;
    box-shadow: 6px 3px 5px rgba(0, 0, 0, 0.436);
    border: solid 4px #3b3b3b;
    cursor: auto, url('/assets/cursors/button.cur');
}

.svg_icon_btns {
    padding: 3px;
}

#modal_settings {
    max-width: 400px;
    max-height: 575px;
}